@import "~src/styles/base";
@import "~src/styles/variables";
.list__layout {
  width: $base-width;
  height: calc(100% - #{$toolbar-height});
  display: grid;
  justify-items: stretch;
  grid-gap: $base-margin;
  grid-template:
    " header" auto
    " controls" auto
    " contacts" 1fr
    / 1fr auto;
}
.list-controls__container {
  width: $base-width;
  display: grid;
  justify-items: stretch;
  margin: $base-margin;
  grid-gap: $base-margin;
  grid-area: controls;
  grid-template:
    " filter ud" auto
    " paginator paginator" auto
    / 1fr auto;
}
.list-controls__paginator {
  grid-area: paginator;
}
.list-controls__fitler {
  grid-area: filter;
}
.list-controls__uploaddownload {
  grid-area: ud;
  align-self: center;
}
.list__header {
  grid-area: header;
}
.list__contacts {
  overflow: auto;
  grid-area: contacts;
}
.button__add {
  position: fixed;
  top: $toolbar-height;
  right: $base-margin;
  margin: $base-margin;
}
