@import "~src/styles/base";
@import "~src/styles/variables";

.list__container-center {
  padding: $base-padding;
}
.list-controls__container {
  width: $base-width;
  display: grid;
  justify-items: stretch;
  margin: $base-margin;
  grid-gap: $base-margin;
  grid-template:
    " filter ud" auto
    " paginator paginator" auto
    / 1fr auto;
}
.list-controls__paginator {
  grid-area: paginator;
}
.list-controls__fitler {
  grid-area: filter;
}
.list-controls__uploaddownload {
  grid-area: ud;
  align-self: center;
}
.list__contacts {
  overflow: auto;
}
.button__add {
  position: fixed;
  top: $toolbar-width;
  right: $base-margin;
  margin: $base-margin;
}
