<div class="contact__container">
  <div class="contact__fname">{{contact.fname}}
  </div>
  <div class="contact__lname">{{contact.lname}}
  </div>
  <div class="contact__phone">{{contact.phonenumber}}
  </div>
  <button role="button" class="contact__update" mat-icon-button (click)="onEditClicked()" matTooltip="Edit Contact" matTooltipPosition="above">
      <mat-icon>edit</mat-icon>
    </button>
  <button role="button" class="contact__delete" mat-icon-button (click)="onDeleteClicked()" matTooltip="Delete Contact" matTooltipPosition="above">
    <mat-icon>delete</mat-icon>
  </button>
</div>