<h1 mat-dialog-title>{{contact?.id ? 'Edit Contact' : 'Add Contact'}}</h1>
<form class="form__contact" [formGroup]="contactForm">
  <mat-form-field>
    <input matInput placeholder="First Name" formControlName="firstName">
    <mat-error>
      <span *ngIf="contactForm?.controls.firstName?.errors?.required">Required Field</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Last Name" formControlName="lastName">
    <mat-error>
      <span *ngIf="contactForm?.controls.lastName?.errors?.required">Required Field</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Phone Number" formControlName="phoneNumber">
    <mat-error>
      <span *ngIf="contactForm?.controls.phoneNumber?.errors?.required">Required Field</span>
      <span *ngIf="!contactForm?.controls.phoneNumber?.errors?.required && contactForm?.controls.phoneNumber?.errors?.validatePhone">Supported formats: +xxxxxxxxxxx and +x-xxx-xxx-xxxx</span>
    </mat-error>
  </mat-form-field>

  <button mat-raised-button [disabled]="contactForm.invalid || !valueChanged" class="button mat-primary" color="primary"
    (click)="onSave()">Save
  </button>
  <button class="button" mat-raised-button (click)="onClose()" class="button mat-primary" color="primary">Cancel</button>
</form>